<script src="/static/sigma/sigma.min.js"></script>

<script type="text/javascript" src="/static/word_network.js"></script>


<div id="net_view">
	<div id="net_container">

		<div id="net_chart"></div>
	</div>
</div>

<div style="clear: both;"></div>

<!-- <div id="container" style="position: absolute; width:100%;height:100%;"></div> -->


<script>
// $(function () {
//   // Initialize sigma:
//   // var s = new sigma(
//   //   {
//   //      renderer: {
//   //        container: document.getElementById('net_container'),
//   //      },
//   //      settings: {}
//   //    }
//   //  );



//   // Let's first initialize sigma:
//     var s = new sigma('container');

//     // Then, let's add some data to display:
//     s.graph.addNode({
//       // Main attributes:
//       id: 'n0',
//       label: 'Hello',
//       // Display attributes:
//       x: 0,
//       y: 0,
//       size: 1,
//       color: '#f00'
//     }).addNode({
//       // Main attributes:
//       id: 'n1',
//       label: 'World !',
//       // Display attributes:
//       x: 1,
//       y: 1,
//       size: 1,
//       color: '#00f'
//     }).addEdge({
//       id: 'e0',
//       // Reference extremities:
//       source: 'n0',
//       target: 'n1'
//     });

//     // Finally, let's ask our sigma instance to refresh:
//     s.refresh();

//     console.log(s.graph,'!?')







//  });
</script>